.root {
  /* background-color: white; */
}
.title-container {
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
  opacity: 1;
  height: 36px;
}
.title {
  padding: 3px 2px;
  font-size: x-large;
}
.loadmapIcon {
  top: 0px;
  left: 0px;
  opacity: 1;
  width: 36px;
  height: 36px;
}
.description-loadmap {
  margin-top: 20px;
}

.description-margin {
  margin-top: 10px;
}

.notion-board-view {
  margin-top: 30px;
}

.notion-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  padding-bottom: 180px;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  /* position: absolute;
  background: white;
  height: 44px;
  z-index: 82;
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(223, 223, 222);
  box-shadow: white -3px 0px 0px;
  padding-top: 4px;
  transform: translate3d(0px, 0px, 0px); */
}

.before {
  flex-basis: 20%;
}
.before-title {
  background-color: lightcoral;
  width: 25%;
}
.doing {
  flex-basis: 20%;
}
.doing-title {
  background-color: khaki;
  width: 25%;
}
.complete {
  flex-basis: 20%;
}
.complete-title {
  background-color: aquamarine;
  width: 25%;
}
.hiden {
  flex-basis: 20%;
}

.box-container {
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  border: 0.5px solid gray;
}
