.dialog-full {
  width: 800px;
  height: 80px;
}

.dialog-content {
  display: flex;
  flex-direction: row;
}

.side-tabs {
  flex-basis: 20%;
}
.side-tab {
  display: flex;
  flex-direction: row;
}
.tab-title {
  margin-top: 3px;
  margin-left: 3px;
}
.title-textfield {
  width: 100%;
}

.type-select {
  width: 100px;
}
